node_modules/
logs/
.env
sensitive/
# managed by open-wa
**.data.json
**.node-persist**
# end managed by open-wa

# managed by open-wa
**_IGNORE_**
# end managed by open-wa

# eslint stuff
eslint_report.json
.eslintcache